<div class="modal-content">
    <form id="addHwModel" name="addHwModel", role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close">
                <span aria-hidden="true">x</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 id="myModalLabel" class="modal-title">Add Hardware Model</h4>
        </div>

        <div class="modal-body">
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

            <div class="form-group">
                <label for="hwmName" class="col-xs-2 col-sm-3 control-label">Hardware Model Name:</label>
                <div class="col-xs-10 col-sm-9">
                    <input id="hwmName" name="hwmName" required="required" ng-model="vm.formData.hwmName" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="hwmNotes" class="col-xs-10 col-sm-3 control-label">Notes:</label>
                <div class="col-xs-12 col-sm-9">
                <textarea id="hwmNotes" name="hwmNotes" rows="5" required="required" ng-model="vm.formData.hwmNotes"
                          class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Hardware Model</button>
        </div>
    </form>
</div>