<div class="modal-content">
    <form id="deleteReservation" name="deleteReservation" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close">
                <span aria-hidden="true">x</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 id="resInfoModalLabel" class="modal-title">Asset Reservation Details</h4>
        </div>

        <div class="modal-body">
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

            <div class="form-group">
                <label for="assetId" class="col-xs-2 col-sm-3 control-label">Asset ID:</label>
                <div class="col-xs-10 col-sm-9">
                    <input id="assetId" name="assetTag" required="required" ng-model="vm.formResData._id"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="assetTag" class="col-xs-2 col-sm-3 control-label">Asset Tag:</label>
                <div class="col-xs-10 col-sm-9">
                    <input id="assetTag" name="assetTag" required="required" ng-model="vm.formResData.tag"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="hostName" class="col-xs-10 col-sm-3 control-label">Hostname:</label>
                <div class="col-xs-12 col-sm-9">
                    <input id="hostName" name="assetTag" required="required" ng-model="vm.formResData.hostname"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="reservationId" class="col-xs-2 col-sm-3 control-label">Reservation ID:</label>
                <div class="col-xs-10 col-sm-9">
                    <input id="reservationId" name="assetTag" required="required" ng-model="vm.formResData.reservationId"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="userName" class="col-xs-2 col-sm-3 control-label">User Name:</label>
                <div class="col-xs-10 col-sm-9">
                    <input id="userName" name="assetTag" required="required" ng-model="vm.formResData.userName"
                           class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="reservationNotes" class="col-xs-10 col-sm-3 control-label">Notes:</label>
                <div class="col-xs-12 col-sm-9">
                <textarea id="reservationNotes" name="assetTag" rows="5" required="required" ng-model="vm.formResData.resNotes"
                          class="form-control" readonly></textarea>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Close</button>
            <button type="submit" class="btn btn-primary">Release Reservation</button>
        </div>
    </form>
</div>