* {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  color: #00B7FF;
}

.filter-wrap {
  background: #FFFFFF;
  padding:10px;
  margin-bottom:5px;
}

.search-wrap {
  margin-bottom:5px;
}

i {
  color:black;
}