<navigation></navigation>

<div class="container-fluid">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-md-6 col-sm-8">
            <p class="lead">Not registered? Please <a href="/#register?page={{ vm.returnPage }}">register</a> first.</p>

            <form ng-submit="vm.onSubmit()">

                <div role="alert" ng-show="vm.formError" class="alert alert-danger">
                    {{ vm.formError }}
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username"
                           ng-model="vm.credentials.username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           ng-model="vm.credentials.password">
                </div>

                <button type="submit" class="btn btn-default">Sign in</button>
            </form>
        </div>
    </div>
</div>