extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Edit Server1
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="/asset", method="get", role="form")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="assetTag") Asset Tag:
                    .col-xs-12.col-sm-10
                        input#assetTag.form-control(name="assetTag")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="hostName") Hostname:
                    .col-xs-12.col-sm-10
                        input#hostName.form-control(name="hostName")
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="skuModel") SKU:
                    .col-xs-12.col-sm-2
                        select#skuModel.form-control.input-sm(name="skuModel")
                            option P1-G4
                            option P2-G4
                            option BD1-G4
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="mfgName") Manufacturer:
                    .col-xs-12.col-sm-2
                        select#mfgName.form-control.input-sm(name="mfgName")
                            option Dell
                            option Hyve
                            option HPE
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="locName") Location:
                    .col-xs-12.col-sm-3
                        select#locName.form-control.input-sm(name="locName")
                            option LVS02-Qual
                            option LVS02-Integration
                            option SJC01-Bench
                            option SJC01-Reliability
                            option SJC01-Integration
                .form-group
                    label.col-xs-10.col-sm-2.control-label(for="assetStatus") Asset Status:
                    .col-xs-12.col-sm-3
                        select#assetStatus.form-control.input-sm(name="assetStatus")
                            option Maintenance
                            option Healthy
                            option Failed
                button.pull-right Update Asset