extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h1= pageHeader.title
                    small &nbsp; #{pageHeader.strapline}
        .row
            .col-xs-12.col-sm-8(ng-controller="assetListCtrl")
                label(for="filter") Filter results
                input#filter(type="text", name="filter", ng-model="textFilter")
                .error {{ message }}
                .row.list-group
                    .col-xs-12.list-group-item(ng-repeat="asset in data.assets | filter : textFilter")
                        h4
                            a(href="/assets/{{ asset._id }}") {{ asset.hostname }}
                            span.badge.pull-right {{ asset.assetStatus }}
                        p.assetTag {{ asset.assetTag }}
                        p
                            span.label.label-warning {{ asset.skuModel }}
                            | &nbsp
                            span.label.label-warning {{ asset.mfgName }}
                            | &nbsp
                            span.label.label-warning {{ asset.hwModel }}
                            | &nbsp
                            span(reservation-status, status="asset.resStatus")
                            a(reservation-button, status="asset.resStatus", id="asset._id")
            .col-xs-12.col-sm-4
                p.lead LaRRS helps you reserve an asset in HWE Labs and takes care of it once it is released.