<navigation></navigation>

<div class="container-fluid">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="filter-wrap">
                <div class="input-group search-wrap">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input id="filter" class="form-control" type="text" name="filter"
                           placeholder="Search assets..." ng-model="textFilter">
                </div>
            </div>

            <div class="error">{{ vm.message }}</div>
            <!--<div class="row list-group">
                <div class="col-xs-12 list-group-item" ng-repeat="asset in vm.data.assets | filter : textFilter">
                    <h4>
                        <a href="/#/assets/{{ asset._id }}">{{ asset.hostname }}</a>
                        <span class="badge pull-right">{{ asset.assetStatus }}</span>
                    </h4>
                    <p class="assetTag">{{ asset.assetTag }}</p>
                    <p>
                        <span class="label label-warning">{{ asset.skuModel }}</span>
                        &nbsp;
                        <span class="label label-warning">{{ asset.mfgName }}</span>
                        &nbsp;
                        <span class="label label-warning">{{ asset.hwModel }}</span>
                        &nbsp;
                        <span class="reservation-status" reservation-status
                              status="asset.resStatus == false ? 'Free' : 'Reserved'"></span>
                        <a ng-if="asset.resStatus == false"
                           ng-click="vm.popupReservationCreateForm(asset._id, asset.assetTag, asset.hostname)"
                           class="btn btn-success pull-right">Reserve</a>
                        <a ng-if="asset.resStatus"
                           ng-click="vm.popupReservationInfo(asset._id, asset.assetTag, asset.hostname, asset.currentResId)"
                           class="btn btn-danger pull-right">Reserved</a>
                    </p>
                </div>
            </div>-->
        </div>
        <div class="col-xs-12 col-sm-4 filter-wrap">
            <!--<p class="lead">{{ vm.sidebar.content }}</p>-->
            <a ng-click="vm.isLoggedIn && vm.popupAssetAddForm()" class="btn btn-primary" ng-disabled="!vm.isLoggedIn">
                Add Asset
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th>Reservation</th>
                      <!--<th>RU</th>-->
                      <th>Hostname</th>
                      <th>Type</th>
                      <th>10G</th>
                      <th>1G</th>
                      <th>BMC</th>
                      <th>Mfg</th>
                      <th>Model</th>
                      <th>SKU</th>
                      <th>CPU</th>
                      <th>Memory</th>
                      <th>Disk</th>
                      <th>10G NIC</th>
                      <th>Asset Tag</th>
                      <th>Serial Number</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="asset in vm.data.assets | filter : textFilter"
                        class="{{ asset.assetStatus != 'Healthy' ? 'danger' : '' }}">
                        <td>
                            <a ng-if="asset.resStatus == false"
                               ng-click="vm.isLoggedIn && vm.popupReservationCreateForm(asset._id, asset.assetTag, asset.hostname)"
                               class="btn btn-success" ng-disabled="!vm.isLoggedIn">Reserve</a>
                            <a ng-if="asset.resStatus"
                               ng-click="vm.isLoggedIn && vm.popupReservationInfo(asset._id, asset.assetTag, asset.hostname, asset.currentResId)"
                               class="btn btn-danger" ng-disabled="!vm.isLoggedIn">Reserved</a>
                        </td>
                        <!--<td>{{ asset.locRU           }}</td>-->
                        <td><a href="/#/assets/{{ asset._id }}">{{ asset.hostname }}</a></td>
                        <td>{{ asset.assetType       }}</td>
                        <td>{{ asset.ip_10g          }}</td>
                        <td>{{ asset.ip_1g           }}</td>
                        <td>{{ asset.ip_bmc          }}</td>
                        <td>{{ asset.mfgName         }}</td>
                        <td>{{ asset.hwModel         }}</td>
                        <td>{{ asset.skuModel        }}</td>
                        <td>{{ asset.cpu_mfg_name }} {{ asset.cpu_model }}</td>
                        <td>{{ asset.mem_mfg_name }} {{ asset.mem_size }}GB</td>
                        <td>{{ asset.disk_mfg_name }} {{ asset.disk_model }}</td>
                        <td>{{ asset.nic10g_mfg_name }} {{ asset.nic10g_model }}</td>
                        <td>{{ asset.assetTag        }}</td>
                        <td>{{ asset.serial          }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <footer-generic></footer-generic> -->
</div>